<template lang="pug">
  div
    slot(v-if="isHeader" name="label") {{label}}
    slot(v-else :row="row") {{getCell(row)}}
</template>

<script>
export default {
  name: 'TableColumnComponent',
  props: {
    field: {
      type: String,
      required: true
    },
    label: {
      type: String
    },
    row: {
      type: Object
    },
    isHeader: {
      type: Boolean
    }
  },
  methods: {
    getCell (row) {
      let result
      // eslint-disable-next-line array-callback-return
      Object.entries(row).map(([key, value]) => {
        if (key === this.field) {
          result = value
        }
      })
      return result
    }
  }
}
</script>
