<template lang="pug">
  .close-popup
    p.close-popup__text
      | Вы уверены, что хотите закрыть окно?
      br
      | В этом случае, изменения не сохранятся
    .close-popup__control-buttons
      button(class="control-button apply-button" @click="back") Вернуться
      button(class="control-button clear-button" @click="close") Закрыть
</template>

<script>
export default {
  name: 'ClosePopup',
  methods: {
    close () {
      this.$emit('closeNote')
    },
    back () {
      this.$emit('backNote')
    }
  }
}
</script>

<style lang="stylus" scoped>
.close-popup
  &__text
    margin-bottom 31px
    font-family Roboto
    font-size 18px
    line-height 25px
    color #333438
    text-align center

  &__control-buttons
    margin 0 auto
    width fit-content

.control-button
  width 150px
  height 40px
  border-radius 15px
  font-size 14px
  line-height 16px
  letter-spacing 0.02em
  background transparent
  border none
  cursor pointer

  &:focus
    outline none

.apply-button
  color #ffffff
  background-color #FF598B
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border none
  margin-right 20px

.clear-button
  border 2px solid #FF598B
  color #FF598B
@media (max-width: 480px)
  .control-button
    display block
    margin 0
  .apply-button
    margin-bottom 10px
</style>
