<template lang="pug">
  .delete-popup
    p.delete-popup__text Вы уверены, что хотите безвозвратно удалить эту заметку?
    .delete-popup__control-buttons
      button.control-button.apply-button(@click="deleteNote") Да
      button.control-button.cancel-button(@click="cancel") Отмена
</template>

<script>
export default {
  name: 'DeletePopup',
  methods: {
    deleteNote () {
      this.$emit('delete')
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>

<style lang="stylus">
.delete-popup
  &__text
    margin-bottom 31px
    font-family Roboto
    font-size 18px
    line-height 25px
    color #333438
    text-align center

  &__control-buttons
    margin 0 auto
    width fit-content

.control-button
  width 150px
  height 40px
  border-radius 15px
  font-size 14px
  line-height 16px
  letter-spacing 0.02em
  background transparent
  border none
  cursor pointer

  &:focus
    outline none

.apply-button
  color #ffffff
  background-color #FF598B
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border none
  margin-right 20px

.cancel-button
  border 2px solid #FF598B
  color #FF598B
@media (max-width: 480px)
  .control-button
    display block
    margin 0
  .apply-button
    margin-bottom 10px
</style>
