<template lang="pug">
  .filter-window
    h1.filter-window__title Отфильтровать
    span.filter-window__text По дате
    .filter-window__filter-inputs
      date-picker.date-from(@dateEntered="dateStart = $event" :text="'c'" :disableDays="this.disableDaysAfterEnd" :dateSelected="dateStartSelected")
      date-picker.date-to(@dateEntered="dateEnd = $event" :text="'по'" :disableDays="this.disableDaysBeforeStart" :dateSelected="dateEndSelected")
    .filter-window__control-buttons
      button(class="control-button apply-button" @click="applyFilter(dateStart, dateEnd)") Применить
      button(class="control-button clear-button" @click="$emit('clearFilter')") Сбросить
</template>

<script>
import DatePicker from '~/components/date-picker/DatePicker'

export default {
  components: {
    DatePicker
  },
  name: 'FilterContent',
  props: {
    dateStartSelected: {
      type: String
    },
    dateEndSelected: {
      type: String
    }
  },
  data () {
    return {
      dateStart: '',
      dateEnd: ''
    }
  },
  methods: {
    disableDaysBeforeStart (day) {
      if (this.toDate(this.dateStart) === null) {
        return false
      } else {
        return this.toDate(day) < this.toDate(this.dateStart)
      }
    },
    disableDaysAfterEnd (day) {
      if (this.toDate(this.dateEnd) === null) {
        return false
      } else {
        return this.toDate(day) > this.toDate(this.dateEnd)
      }
    },
    toDate (str) {
      if (str.length !== 10) {
        return null
      } else {
        const date = str.split('.')
        return new Date(parseInt(date[2]), parseInt(date[1]) - 1, parseInt(date[0]))
      }
    },
    applyFilter (dateStart, dateEnd) {
      dateStart = this.toDate(dateStart)
      dateEnd = this.toDate(dateEnd)
      if (!dateStart && !dateEnd) {
        alert('Пожалуйста, введите хотя бы одну дату')
      } else {
        this.$emit('applyFilter', {
          dateStart,
          dateEnd
        })
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.filter-window
  color #333438
    font-family Roboto

  &__title
    font-size 22px
    line-height 26px
    letter-spacing 0.02em
    margin-bottom 20px

  &__text
    display block
    font-size 18px
    line-height 21px
    margin-bottom 20px

  &__filter-inputs
    display flex
    justify-content space-between
    margin-bottom 20px

.filter
  width 200px
  height 40px
  border none
  border-radius 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  display flex
  justify-content space-between

  &-input
    padding 12px 11px
    width 160px
    height 40px
    border none
    background-color transparent
    font-family Roboto
    font-size 14px
    line-height 16px

    &:focus
      outline none

  &-span
    display block
    position relative
    top 11px
    left 15px
    font-family Roboto
    font-size 14px
    line-height 16px
    color #D8D8D8
    align-items center

.control-button
  width 150px
  height 40px
  border-radius 15px
  font-size 14px
  line-height 16px
  letter-spacing 0.02em
  background transparent
  cursor pointer

  &:focus
    outline none

.apply-button
  color #ffffff
  background-color #FF598B
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border none
  margin-right 20px

.clear-button
  border 2px solid #FF598B
  color #FF598B

input[type="date"]
  font-family Roboto
  font-size 14px
  line-height 16px

  &::-webkit-calendar-picker-indicator
    background no-repeat url('~/static/calendar.svg')
    position relative
    top 3px
    cursor pointer

    &:focus
      outline none

@media (max-width: 576px)
  .filter-window
    display flex
    flex-direction column
    align-items center
    justify-content center

  .filter-window__title
    margin-bottom 10px

  .filter-window__filter-inputs
    display block

  .control-button
    width 120px

  .apply-button
    margin-right 10px

  .date-from
    margin-bottom 10px

@media (max-width: 390px)
  .control-button
    display block
    margin-bottom: 10px;
</style>
