<template lang="pug">
  div
    .modal-window(v-if="visible")
      div(class="modal-window__wrap" :class="{'note-type': isNoteWindow, 'sort-type': isSortWindow, 'filter-type': isFilterWindow, 'close-type': isClosePopup || isDeletePopup}")
        button(type="button" v-if="!isClosePopup && !isDeletePopup" @click="close" class="button" :class="{'close-note': isNoteWindow, 'close-sort': isSortWindow || isFilterWindow}")
        slot
        modal-window(ref="closePopup" is-close-popup=true)
          close-popup(@closeNote="closeNote" @backNote="backNote")
</template>

<script>
import ClosePopup from '~/components/modal_windows/ClosePopup'

export default {
  components: {
    ClosePopup
  },
  name: 'ModalWindow',
  props: {
    isNoteWindow: {
      type: Boolean,
      default: false
    },
    isSortWindow: {
      type: Boolean,
      default: false
    },
    isFilterWindow: {
      type: Boolean,
      default: false
    },
    isClosePopup: {
      type: Boolean,
      default: false
    },
    isDeletePopup: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      visible: false
    }
  },
  methods: {
    open () {
      this.visible = true
    },
    close () {
      if (this.isNoteWindow) {
        console.log(this.$refs)
        this.$refs.closePopup.open()
      } else {
        this.visible = false
      }
    },
    closeNote () {
      this.visible = false
    },
    backNote () {
      this.$refs.closePopup.close()
    }
  }
}
</script>

<style lang="stylus" scoped>
.modal-window
  position fixed
  display flex
  justify-content center
  align-items center
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.8);
  z-index 1

  &__wrap
    padding 40px
    position relative
    background-color #ffffff
    border-radius 5px
    font-family Roboto

.note-type
  max-width 900px

.sort-type
  width 580px

.filter-type
  width 500px

.close-type
  width 420px

.close-note
  background center / contain no-repeat url('../../static/close.svg')
  background-size 25px 25px
  position absolute
  top 40px
  right 32px

.close-sort
  background center / contain no-repeat url('../../static/close.svg')
  background-size 16px 16px
  position absolute
  top 20px
  right 20px

@media (max-width: 992px)
  .modal-window__wrap
    margin 30px
@media(max-width: 640px)
  .sort-type
    max-width 510px
@media (max-width: 576px)
  .modal-window__wrap
    padding 25px
  .close-note
    background-size 15px 15px
    top 10px
    right 10px
  .close-type
    padding 20px
    margin 45px
  .close-sort
    background-size 15px 15px
    top 10px
    right 10px
//@media (max-width: 420px)
//  .close-note
//    background-size 15px 15px
//    top 10px
//    right 10px
</style>
