<template lang="pug">
  form.note-window(@submit.prevent="onSubmit(note)")
    h1(class="title note-window__title") {{placeholderData.title}}
    input(class="input note-window__input" v-model="note.title" placeholder="Заголовок")
    textarea(class="input note-window__textarea" v-model="note.text" placeholder="Введите Ваш текст")
    button.note-window__button-create(type="submit") {{placeholderData.button}}
</template>

<script>
export default {
  name: 'NoteContent',
  props: {
    noteID: {
      type: String,
      required: false,
      default () {
        return ''
      }
    },
    placeholderData: {
      type: Object,
      required: false,
      default () {
        return {
          title: 'Создать заметку',
          button: 'Создать'
        }
      }
    }
  },
  computed: {
    note () {
      if (this.noteID.length === 0) {
        return {
          title: '',
          text: ''
        }
      } else {
        const note = this.$store.getters['notes/noteByID'](this.noteID)
        return {
          id: note.id,
          title: note.title,
          text: note.text,
          date_create: note.date_create,
          date_update: note.date_update
        }
      }
    }
  },
  methods: {
    onSubmit (note) {
      const operation = note.id === undefined ? 'addNote' : 'editNote'
      this.makeSomethingWithNote(note, operation)
    },
    checkInput (note) {
      if (note.title === '' && note.text === '') {
        alert('Поля не заполнены!')
        return false
      } else if (note.title === '' && note.text !== '') {
        alert('Поле заголовка не заполнено!')
        return false
      } else if (note.title !== '' && note.text === '') {
        alert('Поле текста не заполнено!')
        return false
      } else {
        return true
      }
    },
    makeSomethingWithNote (note, operation) {
      if (this.checkInput(note)) {
        try {
          this.$store.dispatch(`notes/${operation}`, note)
          this.$emit(operation)
        } catch (e) {
          alert(`Ошибка: ${e}`)
        }
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.note-window
  &__title
    height 40px
    margin-bottom 40px

  &__input
    height 60px
    margin-bottom 20px

  &__textarea
    height 380px
    margin-bottom 40px

  &__button-create
    padding 10px
    width 180px
    height 40px
    color white
    border-radius 15px
    border none
    background-color #FF598B
    font-size 18px
    font-family Roboto
    cursor pointer
    &:focus
      outline none

.input
  padding 20px
  width 100%
  background transparent
  border none
  border-radius 5px
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  font-family Roboto
  font-size 22px
  line-height 26px
  letter-spacing 0.02em

  &::placeholder
    color #D8D8D8

  &:focus
    outline none
@media(max-width: 640px)
  .note-window__title
    margin-bottom 24px
    font-size 32px
  .note-window__input
    margin-bottom 16px
    font-size 20px
    padding 16px
  .note-window__textarea
    margin-bottom 16px
    font-size 20px
    padding 16px
  .note-window__button-create
    width 130px
    font-size 16px
@media(max-width: 576px)
  .note-window__title
    width 90%
    height fit-content
    margin-bottom 16px
    line-height 30px
    font-size 24px
  .note-window__input
    height 40px
    font-size 16px
    padding 12px
  .note-window__textarea
    height 340px
    margin-bottom 14px
    font-size 16px
    padding 12px
  .note-window__button-create
    padding 0px
    font-size 14px
    height 34px
    width 100px
</style>
