<template lang="pug">
  .sort-window
    h1.sort-window__title Сортировать
    .sort-window__sort-buttons
      button(class="sort-button from-old" :class="fromOldSortingSelected && (!fromOldSorting && !fromNewSorting || fromOldSorting && !fromNewSorting) || fromOldSorting && !fromNewSorting ? 'from-old--active' : ''" @click="setSortingMode(true, false)") От старых к новым
      button(class="sort-button from-new" :class="fromNewSortingSelected && (!fromOldSorting && !fromNewSorting || !fromOldSorting && fromNewSorting) || !fromOldSorting && fromNewSorting ? 'from-new--active': ''" @click="setSortingMode(false, true)") От новых к старым
    .sort-window__control-buttons
      button(class="control-button apply-button" @click="applySort") Применить
      button(class="control-button clear-button" @click="$emit('clearSort')") Сбросить
</template>

<script>
export default {
  name: 'SortContent',
  props: {
    fromOldSortingSelected: {
      type: Boolean,
      default: false
    },
    fromNewSortingSelected: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      fromOldSorting: false,
      fromNewSorting: false
    }
  },
  methods: {
    setSortingMode (fromOld, fromNew) {
      this.fromOldSorting = fromOld
      this.fromNewSorting = fromNew
    },
    // sortFromOld () {
    //   this.fromOldSorting = true
    //   this.fromNewSorting = false
    // },
    // sortFromNew () {
    //   this.fromOldSorting = false
    //   this.fromNewSorting = true
    // },
    applySort () {
      if (this.fromOldSorting && !this.fromNewSorting) {
        this.$emit('sortFromOld')
      } else {
        this.$emit('sortFromNew')
      }
      this.$emit('applySort')
    }
  }
}
</script>

<style lang="stylus" scoped>
.sort-window
  &__title
    font-family Roboto
    font-size 22px
    line-height 26px
    margin-bottom 20px

  &__sort-buttons
    margin-bottom 20px
    display flex
    justify-content space-between

  &__apply-buttons
    display flex

.sort-button
  width 240px
  height 40px
  border none
  cursor pointer
  background transparent
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border-radius 15px
  font-family Roboto
  font-size 14px
  line-height 16px
  letter-spacing 0.02em
  color #333438

  &--active
    background-color #FF598B
    color #ffffff

  &:focus
    outline none

//color #ffffff

.from-old
  background left / contain no-repeat url('~/static/from_old.svg')
  background-size 22px 18px
  background-position-x 9px

  &--active
    background left / contain no-repeat url('~/static/from_old_white.svg') #FF598B
    background-size 22px 18px
    background-position-x 9px
    color #ffffff

//&:focus
//  background left / contain no-repeat url('~/static/from_old_white.svg') #FF598B
//  background-size 22px 18px
//  background-position-x 9px

.from-new
  background left / contain no-repeat url('~/static/from_new.svg')
  background-size 22px 18px
  background-position-x 9px

  &--active
    background left / contain no-repeat url('~/static/from_new_white.svg') #FF598B
    background-size 22px 18px
    background-position-x 9px
    color #ffffff

//&:focus
//  background left / contain no-repeat url('~/static/from_new_white.svg') #FF598B
//  background-size 22px 18px
//  background-position-x 9px

.control-button
  width 150px
  height 40px
  border-radius 15px
  font-size 14px
  line-height 16px
  letter-spacing 0.02em
  background transparent
  cursor pointer

  &:focus
    outline none

.apply-button
  color #ffffff
  background-color #FF598B
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border none
  margin-right 20px

.clear-button
  border 2px solid #FF598B
  color #FF598B

@media (max-width: 640px)
  //.sort-window__sort-buttons
  //  display block
  .sort-button
    width 200px
    padding-left 20px

@media (max-width: 576px)
  .sort-window__sort-buttons
    display block

  .sort-window__title
    margin-bottom 10px

  .sort-button
    display block
    margin-top 14px

  .sort-window
    display flex
    flex-direction column
    justify-content center
    align-items center

  .control-button
    width 120px

  .apply-button
    margin-right 10px

@media (max-width: 390px)
  .control-button
    display block
    margin-bottom: 10px;
</style>
