<template lang="pug">
  .calendar
    button.button.button-calendar(@click="isOpen = !isOpen")
    .calendar__wrap(v-show="isOpen")
      .month
        .header
          .date-selector
            button.arrow(@click="changeYear(true)")
              font-awesome-icon(:icon="['fas', 'angle-double-left']")
            button.arrow(@click="changeMonth(true)")
              font-awesome-icon(:icon="['fas', 'angle-left']")
          .date-indicator {{monthFormat()}} {{selectedYear}}
          .date-selector
            button.arrow(@click="changeMonth(false)")
              font-awesome-icon(:icon="['fas', 'angle-right']")
            button.arrow(@click="changeYear(false)")
              font-awesome-icon(:icon="['fas', 'angle-double-right']")
      .days
        .weekdays(v-for="day in weekDays")
          span {{day.toUpperCase()}}
        .day-item(v-for="day in startWith - 1")
        div(v-for="day of countOfDays" :key="day")
          .day-item.usual-item(v-if="!disableDays(dateFormat(new Date(selectedYear, parseInt(selectedMonth) - 1, day)))" @click="changeCurrentDate(day)" :class="{'today-item': isToday(day), 'current-day': isCurrentDay(day)}")
            span {{day}}
          .day-item.disable-item(v-else)
            span {{day}}
</template>

<script>
export default {
  name: 'Calendar',
  props: {
    dateAttribute: {
      type: String,
      default () {
        return ''
      }
    },
    disableDays: {
      type: Function,
      default (day) {
        console.log(day)
        return false
      }
    }
  },
  data () {
    return {
      weekDays: ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс'],
      currentDay: '',
      currentMonth: '',
      currentYear: '',
      selectedDay: '',
      selectedMonth: '',
      selectedYear: '',
      isOpen: false
    }
  },
  computed: {
    currentDate () {
      return new Date(this.currentYear, this.selectedMonth - 1, this.currentDay)
    },
    countOfDays () {
      return new Date(this.selectedYear, this.selectedMonth, 0).getDate()
    },
    startWith () {
      let dayOfWeek = new Date(this.selectedYear, this.selectedMonth - 1, 1).getDay()
      if (dayOfWeek === 0) {
        dayOfWeek = 7
      }
      return dayOfWeek
    },
    today () {
      const date = new Date()
      return {
        day: date.getDate(),
        month: date.getMonth() + 1,
        year: date.getFullYear()
      }
    }
  },
  watch: {
    dateAttribute: {
      immediate: true,
      handler () {
        if (this.dateAttribute === '') {
          this.setCurrentAndSelected(this.today.day, this.today.month, this.today.year)
        } else {
          const date = this.dateAttribute.split('.')
          this.setCurrentAndSelected(date[0], date[1], date[2])
        }
      }
    }
  },
  methods: {
    isToday (day) {
      return day === this.today.day && this.selectedMonth === this.today.month && this.selectedYear === this.today.year
    },
    isCurrentDay (day) {
      return day === this.currentDay && this.currentMonth === this.selectedMonth && this.currentYear === this.selectedYear
    },
    setCurrentAndSelected (day, month, year) {
      this.currentDay = this.selectedDay = parseInt(day)
      this.currentMonth = this.selectedMonth = parseInt(month)
      this.currentYear = this.selectedYear = parseInt(year)
    },
    changeYear (decrease) {
      decrease ? this.selectedYear-- : this.selectedYear++
    },
    changeMonth (decrease) {
      if (decrease) {
        this.selectedMonth--
        if (this.selectedMonth < 1) {
          this.selectedMonth = 12
          this.changeYear(true)
        }
      } else {
        this.selectedMonth++
        if (this.selectedMonth > 12) {
          this.selectedMonth = 1
          this.changeYear(false)
        }
      }
    },
    // selectPrevMonth () {
    //   this.selectedMonth--
    //   if (this.selectedMonth < 1) {
    //     this.selectedMonth = 12
    //     this.selectedYear--
    //   }
    // },
    // selectNextMonth () {
    //   this.selectedMonth++
    //   if (this.selectedMonth > 12) {
    //     this.selectedMonth = 1
    //     this.selectedYear++
    //   }
    // },
    monthFormat () {
      let date = new Date(this.selectedYear, this.selectedMonth - 1, this.selectedDay).toLocaleString('ru', { month: 'long' })
      date = date.substring(0, 1).toUpperCase() + date.substring(1, date.length)
      return date
    },
    dateFormat (date) {
      return date.toLocaleString('ru', {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric'
      })
    },
    changeCurrentDate (day) {
      this.currentDay = day
      this.currentMonth = this.selectedMonth
      this.currentYear = this.selectedYear
      this.$emit('changeDate', `${this.dateFormat(this.currentDate)}`)
    }
  }
}
</script>

<style scoped lang="stylus">
.calendar
  position relative
  font-family Roboto

  &__wrap
    z-index 1
    position absolute
    top 46px
    right 0px
    width 200px
    background-color #ffffff
    box-shadow 0px 0px 5px rgba(0, 0, 0, 0.35)
    border-radius 15px

.arrow
  padding 0px
  cursor pointer
  border none
  background-color transparent
  margin 0px 5px

  &:focus
    outline none

.button
  padding 0px
  width 40px
  height 40px
  background-color transparent
  border none
  cursor pointer
  outline none

  &-calendar
    background center / contain no-repeat url('../../static/calendar.svg')
    background-size auto auto

.month
  padding 10px
  text-align center

.header
  display flex
  justify-content space-between
  align-items center

.date-indicator
  font-size 14px

.days
  padding 0px 10px 10px
  display grid
  grid-template-columns repeat(7, 1fr)

.weekdays
  text-align center
  font-size 15px
  font-weight bold
  color #c3c3c3

.day-item
  text-align center
  margin 2px
  font-size 13px
  line-height 20px
  border-radius 10px
  cursor pointer

.usual-item
  &:hover
    background-color #cfcfcf
    transition 0.5s

  &:active
    background-color #ea4f7e
    transition 0.5s

.today-item
  border 1px solid #ff8aad
  background-color #ffacc5
  line-height 17px

  &:hover
    background-color #ff91ae

.current-day
  background-color #FF598B
  cursor pointer

  &:hover
    background-color #ff6694
    transition 0.5s

.disable-item
  background-color #c3aaaa
  cursor default
</style>
