<template lang="pug">
  div
    .filter
      span.filter-span {{text}}
      input.filter-input(type="text" v-facade="mask" v-model="inputValue" placeholder="dd.mm.yyyy" @input="inputDate(inputValue)")
      calendar(:date-attribute="dateAttribute" @changeDate="changeInputValue($event)" :disableDays="disableDays")
</template>

<script>
import Calendar from '~/components/date-picker/Calendar'

export default {
  components: {
    Calendar
  },
  name: 'DatePicker',
  props: {
    text: {
      type: String
    },
    disableDays: {
      type: Function,
      default (day) {
        console.log(day)
        return false
      }
    },
    dateSelected: {
      type: String
    }
  },
  created () {
    if (this.dateSelected !== null) {
      this.inputValue = this.dateSelected
    } else {
      this.inputValue = ''
    }
  },
  data () {
    return {
      dateAttribute: '',
      inputValue: '',
      mask: '##.##.####'
    }
  },
  methods: {
    changeInputValue (date) {
      this.inputValue = date
    },
    inputDate (date) {
      if (date.length < 10) {
        console.log(date)
      } else if (this.checkDate(date) && !this.disableDays(date)) {
        this.dateAttribute = date
        this.$emit('dateEntered', this.dateAttribute)
      } else {
        this.inputValue = ''
      }
    },
    checkDate (str) {
      const arrDate = str.split('.')
      const date = new Date(parseInt(arrDate[2]), parseInt(arrDate[1]) - 1, parseInt(arrDate[0]))
      return date.getFullYear() === parseInt(arrDate[2]) && date.getMonth() + 1 === parseInt(arrDate[1]) && date.getDate() === parseInt(arrDate[0])
    }
  }
}
</script>

<style scoped lang="stylus">
.filter
  width 200px
  height 40px
  border none
  border-radius 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.35)
  display flex
  justify-content space-between

  &-input
    padding 0px
    max-width 130px
    margin-left 20px
    height 40px
    border none
    background-color transparent
    font Roboto
    font-size 14px
    line-height 16px

    &:focus
      outline none

  &-span
    display block
    position relative
    top 12px
    left 15px
    font Roboto
    font-size 14px
    line-height 16px
    color #D8D8D8
    align-items center
</style>
