<template lang="pug">
  .card-container
    .card
      .card-wrap
        h3.card__title {{this.note.title}}
        p.card__text {{this.note.text}}
        .card__footer
          span.card__date {{toDate(this.note.date_update)}}
          .card__footer-buttons
            button(class="button button-edit" @click="$emit('editNote')")
            button(class="button button-delete" @click="openDeletePopup")
    modal-window(ref="deletePopup" is-delete-popup=true)
      delete-popup(@cancel="cancel" @delete="deleteNote")
</template>

<script>
import ModalWindow from '~/components/modal_windows/ModalWindow'
import DeletePopup from '~/components/modal_windows/DeletePopup'

export default {
  name: 'Card',
  components: {
    ModalWindow,
    DeletePopup
  },
  props: {
    note: {
      type: Object,
      required: true
    }
  },
  methods: {
    toDate (date) {
      const d = new Date(date * 1000)
      return d.toLocaleDateString()
    },
    openDeletePopup () {
      this.$refs.deletePopup.open()
    },
    deleteNote () {
      console.log(this.note.id)
      this.$store.dispatch('notes/deleteNote', this.note.id)
      this.$refs.deletePopup.close()
    },
    cancel () {
      this.$refs.deletePopup.close()
    }
  }
}
</script>

<style lang="stylus">
.card
  //margin 20px
  padding 40px 20px 20px
  //max-width 360px
  width 100%
  height fit-content
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border-radius 5px
  font-size 14px
  break-inside avoid-column
  box-sizing border-box
  margin-bottom 35px
  &-container
    padding 5px

  &__title
    margin-bottom 20px
    font-size 22px
    font-weight bold

  &__text
    margin-bottom 30px

  &__footer
    display flex
    justify-content space-between
    align-items center

  &__date
    color #333438

.button-edit
  background center / contain no-repeat url('../static/edit.svg')
  background-size auto auto

.button-delete
  background center / contain no-repeat url('../static/delete.svg')
  background-size auto auto

@media (max-width: 768px)
  .card
    margin-bottom 20px
@media (max-width: 576px)
  .card
    padding 28px 20px 12px
    &__title
      margin-bottom 16px
      font-size 18px
    &__text
      margin-bottom 14px
      font-size 14px
</style>
