<template lang="pug">
  .filter-item(v-show="visible")
    p.text {{text}}
    button.button.close-button(@click="clearFilter")
</template>

<script>
export default {
  name: 'FilterItem',
  props: {
    visible: {
      type: Boolean,
      required: true,
      default: false
    },
    text: {
      type: String,
      required: true
    },
    clearFilter: {
      type: Function,
      required: true
    }
  }
}
</script>

<style scoped lang="stylus">
.filter-item
  padding-left 15px
  align-items center
  text-align center
  height 40px
  font-family Roboto
  font-size 14px
  line-height 16px
  background-color #FF598B
  color white
  border-radius 15px
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display flex
  margin-right 10px
  margin-bottom 10px

.close-button
  background center / contain no-repeat url('../static/close.svg')
  background-size 10px 10px
  filter brightness(13.5)

@media (max-width: 576px)
  .filter-item
    font-size 12px
</style>
