<template lang="pug">
  div
    .container
      h1.title Мои заметки
      .control-panel
        .search(ref="searchPanel")
          button(class="button button-search" @click="$refs.searchInput.focus()")
          input.search-input(v-model="searching" ref="searchInput")
          button(class="button button-filter" @click="openFilterWindow")
          button(class="button button-sort" @click="openSortWindow")
        button(class="button-create" @click="openCreateWindow") Создать
      .filter-container
        .filter-container__filters
          filter-item(ref="filterItemSort" :visible="fromOldSorting || fromNewSorting" :text="getSortText()" :clearFilter="clearSort")
          filter-item(ref="filterItemFilter" :visible="period.dateStart !== null || period.dateEnd !== null" :text="getFilterText()" :clearFilter="clearFilter")
        button.button.button-clear(v-if="fromOldSorting || fromNewSorting || period.dateStart !== null || period.dateEnd !== null" @click="clearAllFilters") Сбросить все фильтры
      .switch(ref="switch")
        input.switch__input(type="checkbox" v-model="checkedTable")
        span.switch__slider.round Показать в виде таблицы
      .card-list(v-if="!checkedTable")
        card(v-for="(note,index) of filteredNotes" :key="index" :note="note" @editNote="openEditWindow(note.id)")
      .table-container(v-else)
        table-component(:data="filteredNotes")
          table-column-component(field="title" label="Заголовок")
          table-column-component(field="text" label="Текст")
          table-column-component(field="date_update" label="Дата")
            template(#default="{row:{date_update}}") {{new Date(date_update * 1000).toLocaleDateString()}}
    modal-window(ref="createWindow" is-note-window=true)
      note-content(@addNote="$refs.createWindow.closeNote()")
    modal-window(ref="editWindow" is-note-window=true)
      note-content(:noteID="noteID" :placeholder-data="{title: 'Редактировать заметку', button: 'Сохранить'}" @editNote="$refs.editWindow.closeNote()")
    modal-window(ref="filterWindow" is-filter-window=true)
      filter-content(@applyFilter="applyFilter($event)" @clearFilter="clearFilter" :dateStartSelected="period.dateStart !== null ? period.dateStart.toLocaleString() : period.dateStart" :dateEndSelected="period.dateEnd !== null ? period.dateEnd.toLocaleString() : period.dateEnd")
    modal-window(ref="sortWindow" is-sort-window=true)
      sort-content(@sortFromOld="sortFromOld" @sortFromNew="sortFromNew" @applySort="applySort" @clearSort="clearSort" :fromOldSortingSelected="fromOldSorting" :fromNewSortingSelected="fromNewSorting")
</template>

<script>
import ModalWindow from '~/components/modal_windows/ModalWindow'
import NoteContent from '~/components/modal_windows/NoteContent'
import SortContent from '~/components/modal_windows/SortContent'
import FilterContent from '~/components/modal_windows/FilterContent'
import ClosePopup from '~/components/modal_windows/ClosePopup'
import DeletePopup from '~/components/modal_windows/DeletePopup'
import TableComponent from '~/components/table/TableComponent'
import TableColumnComponent from '~/components/table/TableColumnComponent'
import FilterItem from '~/components/FilterItem'

export default {
  components: {
    ModalWindow,
    NoteContent,
    SortContent,
    FilterContent,
    ClosePopup,
    DeletePopup,
    TableComponent,
    TableColumnComponent,
    FilterItem
  },
  data () {
    return {
      windowWidth: 0,
      checkedTable: false,
      searching: '',
      fromOldSorting: false,
      fromNewSorting: false,
      period: {
        dateStart: null,
        dateEnd: null
      },
      noteID: null,
      dateAttribute: '3/12/2020'
    }
  },
  async asyncData ({ store }) {
    if (store.getters['notes/notes'].length === 0) {
      await store.dispatch('notes/nuxtServerInit')
    }
  },
  computed: {
    notes () {
      return this.$store.getters['notes/notes']
    },
    filteredNotes () {
      const searchText = this.searching
      const result = this.notes.filter((note) => {
        return note.title.toLowerCase().includes(searchText.toLowerCase())
      }).filter(this.filterByDate)
      if (this.fromOldSorting) {
        return this.sortNotes(result)
      } else if (this.fromNewSorting) {
        return this.sortNotes(result).reverse()
      } else {
        return result
      }
    }
  },
  mounted () {
    window.addEventListener('resize', this.updateWindowWidth)
    localStorage.setItem('notes', JSON.stringify(this.$store.state))
  },
  methods: {
    updateWindowWidth () {
      this.windowWidth = window.innerWidth
      if (this.windowWidth <= 576) {
        this.$refs.switch.style.display = 'none'
        this.checkedTable = false
      } else {
        this.$refs.switch.style.display = 'flex'
      }
    },
    clearAllFilters () {
      this.clearFilter()
      this.clearSort()
    },
    getSortText () {
      if (this.fromOldSorting && !this.fromNewSorting) {
        return 'Сортировка от старых к новым'
      } else if (this.fromNewSorting && !this.fromOldSorting) {
        return 'Сортировка от новых к старым'
      } else {
        return ''
      }
    },
    getFilterText () {
      if (this.period.dateStart && this.period.dateEnd) {
        return `Фильтр по дате с ${this.period.dateStart.toLocaleDateString()} по ${this.period.dateEnd.toLocaleDateString()}`
      } else if (this.period.dateStart && !this.period.dateEnd) {
        return `Фильтр по дате с ${this.period.dateStart.toLocaleDateString()}`
      } else if (!this.period.dateStart && this.period.dateEnd) {
        return `Фильтр по дате по ${this.period.dateEnd.toLocaleDateString()}`
      } else {
        return ''
      }
    },
    openCreateWindow () {
      this.$refs.createWindow.open()
    },
    openEditWindow (id) {
      this.noteID = id
      this.$refs.editWindow.open()
    },
    openFilterWindow () {
      this.$refs.filterWindow.open()
    },
    openSortWindow () {
      this.$refs.sortWindow.open()
    },
    sortNotes (notes) {
      notes.sort(function (a, b) {
        return a.date_update - b.date_update
      })
      return notes
    },
    applySort () {
      this.$refs.sortWindow.close()
    },
    sortFromOld () {
      this.fromOldSorting = true
      this.fromNewSorting = false
    },
    sortFromNew () {
      this.fromOldSorting = false
      this.fromNewSorting = true
    },
    clearSort () {
      this.fromOldSorting = false
      this.fromNewSorting = false
      this.$refs.sortWindow.close()
    },
    applyFilter (event) {
      this.period.dateStart = event.dateStart
      this.period.dateEnd = event.dateEnd
      this.$refs.filterWindow.close()
    },
    filterByDate (note) {
      const date = new Date(note.date_update * 1000)
      date.setHours(0, 0, 0, 0)
      if (!this.period.dateStart && this.period.dateEnd) {
        return date <= this.period.dateEnd
      } else if (!this.period.dateEnd && this.period.dateStart) {
        return date >= this.period.dateStart
      } else if (this.period.dateStart && this.period.dateEnd) {
        return date >= this.period.dateStart && date <= this.period.dateEnd
      } else {
        return true
      }
    },
    clearFilter () {
      this.period.dateStart = null
      this.period.dateEnd = null
      this.$refs.filterWindow.close()
    }
  }
}
</script>

<style lang="stylus">
.filter-container
  max-width 940px
  display flex
  justify-content space-between

  &__filters
    display flex

.switch
  display flex
  align-items center

input[type='checkbox']
  width 15px
  height 15px
  margin-right 10px
  cursor pointer

.container
  margin 0 auto
  margin-top 128px
  max-width 1200px
  padding 0px 20px
  font-family Roboto

.title
  font-size 36px
  margin-bottom 52px
  line-height 42px
  letter-spacing 0.02em

.control-panel
  margin-bottom 20px
  display flex
  justify-content space-between

.search
  margin-right 40px
  max-width 940px
  width 100%
  height 40px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.15)
  border-radius 15px
  display flex

  &:focus
    box-shadow 0px 0px 5px rgba(0, 0, 0, 0.35)
    outline none

  &-input
    width 100%
    height 40px
    border none
    background-color transparent
    font-family Roboto
    font-size 16px
    line-height 21px

    &:focus
      outline none

.button
  padding 0px
  width 40px
  height 40px
  background-color transparent
  border none
  cursor pointer
  outline none
  font-family Roboto

.button-filter
  background center / contain no-repeat url('../static/filter.svg')
  background-size auto auto

.button-sort
  background center / contain no-repeat url('../static/sort.svg')
  background-size auto auto

.button-search
  background center / contain no-repeat url('../static/search.svg')
  background-size auto auto

.button-create
  padding 10px 49px 9px 58px
  width 180px
  height 40px
  color white
  border-radius 15px
  border none
  background left / contain no-repeat url('../static/Union.svg') #FF598B
  background-size 16px 16px
  background-position 34px 12px
  font-size 18px
  font-family Roboto
  cursor pointer

  &:focus
    outline none

.card-list
  //display flex
  //flex-direction row
  //justify-content center
  margin 0px -5px
  margin-top: 20px;
  column-count: 3;
  column-gap: 40px

.list__wrap
  display flex
  flex-direction column

.table-container
  display flex
  justify-content center

.button-clear
  padding 0px 15px
  width fit-content
  border 2px solid #FF598B
  color #FF598B
  border-radius 15px
  font-size 14px
  font-weight 500
  line-height 16px

//@media (max-width: 1200px)

//@media (max-width: 768px)
@media (max-width: 992px)
  .card-list
    column-count 2

@media (max-width: 768px)
  .container
    margin-top 92px

  .card-list
    column-gap 20px

  .search
    margin-right 20px

@media (max-width: 576px)
  .container
    margin-top 64px

  .title
    font-size 28px
    margin-bottom 24px

  .filter-container
    margin-top 10px

  .control-panel
    margin-bottom 0px

  .title
    font-size 32px
    margin-bottom 30px

  .card-list
    column-count 1

  .search-input
    font-size 14px

  .button-create
    padding 10px 0px 10px 13px
    width 146px
    background-size 14px 14px
    background-position 10px 13px
    font-size 14px
  .button-clear
    font-size 12px

@media (max-width: 420px)
  .button-create
    font-size 0px
    width 50px
    background-position 14px 13px
</style>
